body {
	background-color: #f7f7f7;
	overflow-y: scroll;
}

p,div,ul,li {
	font-family: arial, helvetica, verdana, sans-serif;
	color: #000000;
	font-size: 13px;
	line-height: 21px;
}

a:link,a:visited,a:hover,a:active {
	color: #0063A7;
	text-decoration: none;
}

a:hover {
	color: #ff7700;
	text-decoration: none;
}

h2 {
	font-family: georgia, "times new roman", times, serif;
	font-weight: normal;
	font-size: 24px;
	border-bottom: 1px solid #eeeeee;
	color: #666666;
	margin: 0px 0 7px 0;
	padding: 30px 0 10px 0;
}

h3 {
	font-family: arial, helvetica, verdana, sans-serif;
	font-weight: regular;
	font-size: 16px;
	color: #000000;
	margin: 0 0 7px 0;
	padding: 4px 0 0;
}

#page_container {
	width: 700px;
	margin: 50px auto;
	padding: 30px;
	background-color: white;
	border: 1px solid #dddddd;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

p {
	margin: 0 0 20px;
	padding: 0;
}

ul {
	margin: 0 0 20px;
	padding-top: 0;
	list-style: none;
}

h1#logo {
	background-image: url('skin/sipgategcx_w_text_logo.png');
	background-position: 50% 5px;
	background-repeat: no-repeat;
	margin: 0;
	padding: 65px 0px 30px;
	font-family: georgia, "times new roman", times, serif;
	font-weight: normal;
	font-size: 24px;
	text-align: center;
	color: #666666;
}

.hidden {
	visibility: hidden;
	display: none;
}

#l {
	border-bottom: 1px solid #e0e0e0;
	overflow: hidden;
}

#l ul.tabs {
	list-style: none;
	margin: 0 auto;
}

button {
	font-size: 12px;
	font-family: Arial,Verdana,sans-serif;	
	color: #000000;
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffffff),
		to(#dadada));
	border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #BBBBBB;
	margin: 0px;
	padding: 5px 10px;
}

input[type="text"],
input[type="password"],
select,
textarea {
	border: 1px solid #CCC;
	padding: 4px 5px;
	-moz-box-shadow: inset 1px 1px 8px -5px #000000;
	-webkit-box-shadow: inset 1px 1px 8px -5px #000000;
	resize: none;
	background: white;
	width: 200px;
	font-size: 12px;
	font-family: Arial,Verdana,sans-serif;
}

#l ul.tabs li {
	font-weight: bold;
	float:left;
	background: #F7F7F7;
	text-align: center;
	border: 1px solid #E0E0E0;
	border-bottom: none;
	padding: 3px 10px;
	margin-right: 5px;
	border-radius: 3px 3px 0 0;
}

#l ul.tabs li:hover {
	cursor: pointer;
	background-color: white;
}

#l ul.tabs li.active {
	cursor: pointer;
	background-color: white;
}

#r {
	background-color: white;
	height: 100%;
	padding: 20px;
}

#r .tabHead {
	font-family: georgia, "times new roman", times, serif;
	font-weight: normal;
	font-size: 24px;
	border-bottom: 1px solid #eeeeee;
	color: #666666;
	margin: 0px 0 7px 0;
	padding: 30px 0 10px 0;
}

#r ul li {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	vertical-align: middle;
}

#r .h {
	font-weight: bold;
	width: 150px;
	text-align: right;
	padding-right: 7px;
	padding-top: 5px;
	padding-bottom: 5px;
	line-height: 27px;
	vertical-align: middle;
}

#r .c {
	padding-top: 5px;
	padding-bottom: 5px;
	-webkit-box-flex: 1;
	vertical-align: middle;
}

iframe#logframe
{
	height: 700px;
}

iframe {
	border: 0;
	width: 100%;
}

ul.c2dBox {
	padding: 0;
	margin: 0;
}

ul.c2dBox nobr {
	padding: 0 4px;
}

#r ul.c2dBox li {
	padding: 10px;
	border: 1px solid #57585A;
	float: left;
	width: 120px;
	text-align: center;
	margin: 5px;
	border-radius: 5px;
	cursor: pointer;
	display: block;
}

#r ul.c2dBox li img {
	vertical-align: sub;
	margin-left: 3px;
}

ul.c2dBox li:hover {
	background-color: #eee;
}

ul.c2dBox li.active {
	background-color: #BBD4FF;
	border: 1px solid #57585A;
}