.sipgateFFXClick2DialBubble {
	background-color: #fff1b8;
	color: blue;
	cursor: pointer !important;
	border-radius: 3px;
	border: 1px solid #aaa;
}

.sipgateFFXClick2DialBubbleIMG {
	vertical-align: top;
	cursor: pointer;
	border: 0;
	height: 16px;
	width: 16px;		
}

.sipgateffx_dialBubble {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	min-width: 250px;
	min-height: 25px;
	text-align: center;
	border: 2px solid #888888;
	border-radius: 5px;
	z-index: 2147483646;
	padding: 5px;
	box-shadow: 2px 2px 10px 0px #000000;
	position: absolute;
}

.sipgateffx_dialBubble_stateIcon {
	float:left;
}

.sipgateffx_state_HUNGUP {
	background:url('chrome-extension://__MSG_@@extension_id__/skin/c2d_hungup.png') no-repeat;
	width: 32px;
	height: 32px;
}
.sipgateffx_state_ESTABLISHED {
	background:url('chrome-extension://__MSG_@@extension_id__/skin/c2d_established.png') no-repeat;
	width: 32px;
	height: 32px;
}
.sipgateffx_state_SECOND_DIAL,
.sipgateffx_state_WAIT {
	background:url('chrome-extension://__MSG_@@extension_id__/skin/c2d_wait.png') no-repeat;
	width: 32px;
	height: 32px;
}
.sipgateffx_state_FAILED {
	background:url('chrome-extension://__MSG_@@extension_id__/skin/c2d_failed.png') no-repeat;
	width: 32px;
	height: 32px;
}
.sipgateffx_state_CALL_1_BUSY {
	background:url('chrome-extension://__MSG_@@extension_id__/skin/c2d_lineXbusy.png') no-repeat;
	width: 32px;
	height: 32px;
}
.sipgateffx_state_CALL_1_FAILED {
	background:url('chrome-extension://__MSG_@@extension_id__/skin/c2d_lineXfail.png') no-repeat;
	width: 32px;
	height: 32px;
}
.sipgateffx_state_CALL_2_BUSY {
	background:url('chrome-extension://__MSG_@@extension_id__/skin/c2d_lineXbusy.png') no-repeat;
	width: 32px;
	height: 32px;
}
.sipgateffx_state_CALL_2_FAILED {
	background:url('chrome-extension://__MSG_@@extension_id__/skin/c2d_lineXfail.png') no-repeat;
	width: 32px;
	height: 32px;
}
.sipgateffx_state_FIRST_DIAL {
	background:url('chrome-extension://__MSG_@@extension_id__/skin/c2d_pickup.png') no-repeat;
	width: 32px;
	height: 32px;
}

div.sipgateffx_pointer_wrapper {
    position: absolute;
    z-index: 10;
    overflow: hidden;
    box-shadow: -1px 15px 30px -11px black;
    -webkit-box-shadow: -1px 15px 30px -11px black;
}
div.sipgateffx_pointer_box {
    border: 3px solid #004B7D;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    padding: 0;
    background-color: white;
    margin-top: 12px;
    overflow: hidden;
    line-height: 18px;
}
div.sipgateffx_pointer {
	border-color: transparent transparent  #004B7D transparent;
	border-style: solid;
	border-width: 10px;
	width: 0px;
	height: 0px;
	position: absolute;
	top: -8px;
	left: 13px;
}

.sipgateffx_pointer_close_footer {
    font-size: 10px;
    background-color: #004B7D;
    color: white;
    line-height: 24px;
    padding: 0 10px;
    text-align: right;
    clear: both;
}
div.sipgateffx_pointer_close_footer a.sipgateffx_pointer_close_footer_link {
    color: white;
}

#sipgateffx_sendingInProgress {
	min-height: 200px;
	min-width: 160px;
	text-align: center;
}

#sipgateffx_sendingInProgress,
#sipgateffx_sendsms  {
	font-size: 12px;
	font-family: Arial,Verdana,sans-serif;
	padding: 20px 20px 15px;
}

#sipgateffx_sendsms dl {
	margin: 0px;
}

#sipgateffx_sendsms dd {
	margin-left: 0px;
}

#sipgateffx_sendsms dt {
	line-height: 16px;
}

#sipgateffx_sendsms label {
	font-weight: bold;
}

#sipgateffx_sendsms select,
#sipgateffx_sendsms input[type="text"],
#sipgateffx_sendsms textarea {
	border: 1px solid #CCC;
	padding: 4px 5px;
	margin: 4px 0 0 0;
	-moz-box-shadow: inset 1px 1px 8px -5px #000000;
	-webkit-box-shadow: inset 1px 1px 8px -5px #000000;
	resize: none;
	background: white;
	width: 200px;
	font-size: 12px;
	font-family: Arial,Verdana,sans-serif;
}

#sipgateffx_sendsms textarea[name=message] {
	height: 100px;
	width: 190px;
}

#sipgateffx_sendsms .sipgateffx_pricedisclaimer {
	margin-bottom: 20px;
}

#sipgateffx_sendsms #sipgateffx_remainingchars_counter {
	float: right;
}

#sipgateffx_sendsms #sipgateffx_remainingchars_counter,
#sipgateffx_sendsms .sipgateffx_hint {
	line-height: 12px;
	font-weight: normal;
	color: #AAA;
}

#sipgateffx_sendsms #sipgateffx_sms_submit_button {
	font-size: 12px;
	font-family: Arial,Verdana,sans-serif;	
	color: #000000;
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffffff),
		to(#dadada));
	border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #BBBBBB;
	margin: 0px;
	padding: 5px 10px;
}

.schemeA { color: white; background-color: #231F20; }
.schemeB { color: white; background-color: #57585A; }
.schemeC { color: white; background-color: #00AAAD; }
.schemeD { color: white; background-color: #F04822; }
.schemeE { color: white; background-color: #7FC241; }
.schemeF { color: white; background-color: #0166B3; }
.schemeG { color: white; background-color: #8781BD; }
.schemeH { color: white; background-color: #660005; }
.schemeI { color: white; background-color: #014F31; }
.schemeJ { color: white; background-color: #ED0278; }
.schemeK { color: white; background-color: #3CC0C4; }
.schemeL { color: white; background-color: #AB7E52; }
.schemeM { color: #57585A; background-color: #FECA0A; }
.schemeN { color: white; background-color: #4B5C3E; }
.schemeO { color: white; background-color: #004260; }
