body {
	background: #fff;
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 250px;
}

h1 {
	font-family: Georgia,Arial,Verdana,sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #999;
	border-bottom: 1px solid #999;
	padding-bottom: 5px;
}

table#balance_block {
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 100%;
	margin-bottom: 10px;
}

#refresh_balance {
	text-decoration: underline;
	color: #999;
	cursor: pointer;
}

#smsArea,
#logout {
	background-color: #f3f3f3;
	border-radius: 3px;
}

#logout {
	text-decoration: underline;
	color: #888;
	padding: 5px;
	text-align: center;
	cursor: pointer;
}

.loginbox {
	background-color: #eee;
	border-radius: 5px;
	padding: 15px;
	font-size: 12px;
}

.view_template {
	display: none;
	visibility: hidden;
}

ul.toolstripMenu {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.toolstripMenu li {
	padding: 5px 3px;
	margin: 0;
}

ul.toolStripMenu li.linkAlike {
	color: black;
	text-decoration: underline;
	font-weight: bold;
	cursor: pointer;
}

form#form_sendSMS fieldset {
	margin-top: 5px;
	background: #eee;
	border: 0;
}

form#form_sendSMS legend {
	font-weight: bold;
	color: navy;
}

form#form_sendSMS input[type=text],
form#form_sendSMS select,
form#form_sendSMS textarea {
	width: 100%;
	resize: none;
}

div#notLoggedIn label {
	font-weight: bold;
}

div#notLoggedIn div#sipgatelogo a,
div#notLoggedIn div#sipgatelogo a:focus {
	border: 0;
}

div#notLoggedIn div#sipgatelogo {
	text-align: center;
	margin: 20px 0;
}

div#notLoggedIn input.formelement {
	width: 220px;
	border: 1px solid #CCC;
	color: black;
	margin-bottom: 15px;
	-webkit-box-shadow: inset 2px 2px 7px -4px black;
	padding: 5px; 
}

div#notLoggedIn input#login {
	background: linear-gradient(to bottom, #ffad2c 0%,#ffad2c 7%,#fe9b01 10%,#e96f02 100%);
	background: -webkit-linear-gradient(top, #ffad2c 0%,#ffad2c 7%,#fe9b01 10%,#e96f02 100%); /* Chrome10+,Safari5.1+ */
	width: 220px;
	color: #FFF;
	font-weight: bold;
	border-radius: 5px;
	height: 35px;
	font-size: 18px;
	border: 1px solid #E36302;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.4);
	margin-top: 10px;
}
