body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	padding: 0;
	margin: 0;
	width: 250px;
}

.view_template {
	display: none;
	visibility: hidden;
}

ul.toolstripMenu {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.toolstripMenu li {
	border-top: 1px solid #eee;
	padding: 5px 3px;
	margin: 0;
}

ul.toolstripMenu li:hover {
	background: #eee;
}

form#form_sendSMS fieldset {
	margin-top: 5px;
	background: #eee;
	border: 1px solid #000;
}

form#form_sendSMS legend {
	font-weight: bold;
}

form#form_sendSMS input[type=text],
form#form_sendSMS select,
form#form_sendSMS textarea {
	width: 100%;
}